html {
  background-color: #222222;
}

body {
  background-color: inherit;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* for search page*/

#imgSearch {
  display: none;
}

#search {
  width: 100%;
  height: auto;
  text-align: left;
  background-color: rgba(0,0,0,0);
  margin-top: 10px;
}

#formSearch {
  background-color: rgba(0,0,0,0);
}

#formSearch>p {
  margin: 0;
}

#keyword {
  margin: 0 4%;
  width: 90%;
  border: solid 2px #ffcc00;
  color: #ffcc00;
  padding: 10px;
  font-size: 20px;
  background-color: inherit;
}

#result_box {
  position: relative;
  margin-left: 4%;
  width: 86%;
}

#result_box>a {
  position: relative;
  color: #bbbbbb;
  background-color: #333333;
  padding: 5px 2%;
  font-size: 20px;
  width: 100%;
  height: auto;
  display: inline-block;
  text-decoration: none;
}
#result_box>a:hover {
  background-color: #555555;
}

#result_box>a>span {
  color: #ffcc00;
  text-decoration: underline;
}