html {
  background-color: #222222;
}

body {
  background-color: inherit;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
}

/* for search page*/

#imgSearch {
  display: none;
}

#search {
  width: 100%;
  height: auto;
  text-align: left;
  background-color: rgba(0,0,0,0);
  margin-top: 10px;
}

#formSearch {
  background-color: rgba(0,0,0,0);
}

#formSearch>p {
  margin: 0;
}

#keyword {
  margin: 0 4%;
  width: 90%;
  border: solid 2px #ffcc00;
  color: #ffcc00;
  padding: 10px;
  font-size: 20px;
  background-color: inherit;
}

#result_box {
  position: relative;
  margin-left: 4%;
  width: 86%;
}

#result_box>a {
  position: relative;
  color: #bbbbbb;
  background-color: #333333;
  padding: 5px 2%;
  font-size: 20px;
  width: 100%;
  height: auto;
  display: inline-block;
  text-decoration: none;
}
#result_box>a:hover {
  background-color: #555555;
}

#result_box>a>span {
  color: #ffcc00;
  text-decoration: underline;
}

/* for episode page */

#homecontainer {
  position: relative;
  margin-top: 20px;
  margin-left: 4%;
  width: 90%;
  text-align: left;
}

#backtohome {
  position: relative;
  border: 2px solid #ffcc00;
  color: #ffcc00;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
#backtohome:hover {
  background-color: #000000;
}

#episodeContainer {
  margin-top: 10px;
  margin-left: 4%;
  margin-right: 4%;
}

#episodeContainer>a {
  text-decoration: none;
  background-color: #ffcc00;
  color: #222222;
  font-size: 15px;
  padding: 7px;
  margin-top: 10px;
  margin-right: 10px;
  height: auto;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ffcc00;
  display: none;
  opacity: 0;
}
#episodeContainer>a:hover {
  background-color: rgba(0,0,0,0);
  color: #ffcc00;
}

/* for captcha page */

.imgCapSelect {
  border: 5px solid #ffcc00;
}

#formVerify {
  width: 100%;
  text-align: center;
  color: #cccccc;
}

#formVerify>div{
  display: block !important;
}

#formVerify p span {
  color: #ffcc00 !important;
}

/* for video page */

#navsubbar>p{
  width: auto;
  margin-left: 4%;
  display: inline-block;
}

#navsubbar>p>a{
  position: relative;
  border: 2px solid #ffcc00;
  color: #ffcc00;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
#navsubbar>p>a:hover{
  background-color: #000000;
}

#eplist{
  float: right;
  margin-right: 4%;
  margin-top: 20px;
}

.navbar{
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.navButton{
  text-align: center;
  position: relative;
  border: 2px solid #ffcc00;
  color: #ffcc00;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  width: 20%;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}
.navButton:hover{
  background-color: #ffcc00;
  color: #222222;
}

#selectEpisode{
  position: relative;
  border: 2px solid #ffcc00;
  color: #ffcc00;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  width: 20%;
  box-sizing: border-box;
  margin-left: 4%;
  margin-right: 4%;
  background-color: #222222;
  cursor: pointer;
}
#selectEpisode:hover{
  background-color: #000000;
}

#selectEpisode>option{
  background-color: #bbbbbb;
  color: #222222;
  font-size: 18px;
}

#previous{
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  margin-left: 4%;
}

#next{
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  margin-right: 4%;
}

#centerDivVideo{
  position: relative;
  margin: 20px 4%;
  width: 92%;
  padding-bottom: 40%;
  height: 0;
  border: 2px solid #ffcc00;
}

#slcQualix{
  position: relative;
  border: 2px solid #ffcc00;
  color: #ffcc00;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  width: 20%;
  box-sizing: border-box;
  margin-right: 4%;
  background-color: #222222;
  cursor: pointer;
}

#my_video_1{
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}